

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menu */
/*Estilos generales del menu*/
.Barra_Navegacion ul {
    display: flex; /* Muestra los elementos de forma horizontal*/
    padding: 0;
    margin: 0;
    list-style: none; /*Elimina los puntos de las listas*/
    width: 100%;    /*Ocupe el 100% del ancho de la pagina*/
    font-family: monospace; /*Cambio de fuente de letra*/
    font-size: 30px; /*Cambio de tamaño de letra*/
    flex-wrap: wrap; /*Permite que se acomoden en varias lineas en pantallas pequeñas*/
}

.Barra_Navegacion ul li {
    flex: 1; /*Cada elemento de la lista ocupa el mismo espacio*/
}

/*Estilos para la barra de navegacion*/
.Barra_Navegacion a {
    display: flex;
    justify-content: center; /*Alinea los elementos al centro*/
    padding: 2em 3em; /* Relleno de la pagina*/
    background-color: rgb(189, 131, 43); /* Color del fondo de la barra*/
    text-decoration: none; /*Q uita las lineas de la lista*/
    color: whitesmoke; /*Color de letra*/
    transition: background-color 0.3s; /*Transision para el cambio de color*/
}

/*Estilos para cambiar el color al pasar el mouse*/
.Barra_Navegacion a:hover {
    background-color: rgb(30, 30, 31);
    color: rgb(255, 255, 255);
}

/*Estilos para el logo*/
.Barra_Navegacion ul li.Logo {
    flex: 0; /*El logo no crece*/
    margin-left: auto; /*Lo envia a la derecha*/
    background-size: cover;/*Cubra el espacio completo*/
}

/*Estilos para el tamaño del logo*/
.Barra_Navegacion ul li.Logo img {
    height: 156px;
    width: 240px;
    display: block; /*Ocupara todo el espacio disponible para 
    que el proximo elemento se aline debajo de el*/
}
/*Finalizacion de estilos para la barra de navegacion*/
